<div id="elements" class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header"><h1>Як придбати<small> </small></h1></div>
      </div>

      <div class="col-md-6">
        <div class="panel">
          <div class="panel-body">
            <p class="lead">First line</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <p><img src="./assets/carousel3.jpg" class="img-thumbnail img-responsive" alt="шопінг"></p>
            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="well">t vero eos et accusam et justo duo dolores et ea rebum. Stet c</div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <p><img src="./assets/plankit/img_presentation/shopping.jpg" class="img-thumbnail img-responsive" alt="шопінг"></p>
      </div>
  </div>
</div>
