.item-main-pic {
  width: 400px;
  height: auto;
  padding: 3px;
  float: left;
}
.ifHidden {
  display: none;
}
.ifNotHidden {
  display: block;
}
.modal-content {
  display: inline-block;
  height: 50px;
  /*width: 400px;*/
  /*height: auto;*/
  /*padding: 3px;*/
  /*float: left;*/
}
