.item-main-pic {
  width: 300px;
  height: auto;
  padding: 3px;
  float: right;
}

.item-horizontal-pic {
  width: 150px;
  height: auto;
  padding: 3px;
  float: right;
}

.price {
  color: forestgreen;
  font-size: 20px;
}

.title {
  display: inline-block;
}

.ifHidden {
  display: none;
}

.ifNotHidden {
  display: block;
}
