.carousel-width {
  max-width: 960px;
}

.price {
  float: left;
  letter-spacing: -2px;
  margin: 5px;
}

.modal-price-digits {
  font-size: 43px;
  line-height: 42px;
  color: #009fff;
}

.modal-price-letters {
  font-size: 23px;
  line-height: 42px;
  color: #000000;
}

.viz-price-digits {
  font-size: 43px;
  line-height: 42px;
  color: #009fff;
  margin-left: 20px;
}

.viz-price-letters {
  font-size: 23px;
  line-height: 22px;
  color: #000000;
  margin-left: 20px;
}

.viz-price-block {
  display: inline-block;
  margin-bottom: 0;
  padding: 5px;
}

.modal-price-block {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 3px;
}

.viz-main-img {
  width: 300px;
  height: auto;
  padding: 3px;
  float: right;
}

.viz-ifHidden {
  display: none;
}

.viz-ifNotHidden {
  display: block;
}

.side {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.side-img {
  margin-bottom: 3px;
  width: 150px;
  height: auto;
}

.side-img-clicked {
  padding: 2px;
  background-color: #f05653;
}

.side-img-default {
  padding: 3px;
  background-color: transparent;
}

.side-title {
  margin-bottom: 15px;
}

.content-collapse {
  margin-top: 0;
  margin-bottom: 20px;
}

.content-img-div {
  width: 20%;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-img-logo {
  margin: 10px auto;
}

.content-img-interior {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.content-block {
  margin-top: 25px;
  margin-bottom: 25px;
}

.footer-block {
  background-color: #cccccc;
  padding: 10px;
}

.modal-block {
  padding: 5px;
}

.modal-img-main {
  margin-bottom: 3px;
}

.modal-title {
  padding: 10px;
}

.about-img-main {
  padding: 10px;
  float: right;
}

.content-img-flow {
  width: 450px;
  height: auto;
  padding: 10px;
  float: left;
}
